/* open sans font */

.open-sans-normal {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     
     font-style: normal;
     font-variation-settings:
       "wdth" 100;
   }



/* nav style */
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 200px;
}
.header{
     background-image: url('images/icons/developer.png'), url('images/icons/header_bg.png');
     background-repeat: no-repeat;
     background-position: top left ,bottom right;
}
.nav-title{
     font-weight: 800;
     font-size: 45px;
}
/* sheard color */
.nav-title .mary-span{
     color: #FD6E0A;
}
nav ul{
     display: flex;
     align-items: center;
}
nav ul li{
     list-style: none;
     margin-right: 51px;
    
}
nav ul li a{
     text-decoration: none;
     
}
.dark3{
     color: #474747;
}
/* button style */
.btn-primary{
     background-color:#FD6E0A ;
     color: #FFFFFF;
     font-weight: bold;
     font-size: 20px;
     padding-top: 18px;
     padding-bottom: 19px;
     padding-left: 36px;
     padding-right: 35px;
     border-radius: 5px;
    border: none;

}
.banner-text{
     font-size: 45px;
     font-weight:600;
}
.banner-name{
     font-size: 85px;
     font-weight: bold;
}
.banner-des{
     font-size: 16px;
     color: #757575;
}
.banner{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0, 35px,0,200px;
}
.banner-profile-picture{
     width: 584px;
    
    height: fit-content;
}
.banner-div{
   max-width: 585px;
  margin-left: 200px;
  margin-top: 280px;
}
/* about section */
.about-title{
     font-size: 35px;
     font-weight: bold;
     color: #181818;

}
main{
     max-width: 1140px;
     margin: 0 auto;
     
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;

}
.about{
     border-radius: 10px;
     background-color: #FFF8F3;
     padding: 130px 150px;
     text-align: center;
     
     
}
.about-items{
     display: flex;
     justify-content: space-around;
     
}
.item-des{
     font-weight: bold;
     font-size: 20px;
}
.item-title{
     font-size: 20px;
     color: #757575;
}
/* skilled */
.skill-des{
     color: 757575;
     font-size: 18px;
}
.text-center{
     text-align: center;
}


/* skilled */
.skilled-container{
     display: flex;
     justify-content: space-around;
     gap: 24px;
}
.skilled1{
     background-color: #fff;
    margin-top: 10px;
     box-shadow: 0,6,50px,0 rgba(0, 0, 0, .5);
     border-radius: 5px;
}
